/* do we want to add a dark/light mode just because? */
/* or a modal too? */

html {
  background-color: violet;
  color:white;
}


#navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
/* width: 200px; */
background-color: rgb(198, 115, 198);
border-bottom: 1px solid #555;
border: 1px solid #555;
}

li a {
display: block;
color: #000;
text-decoration: none;
float: right;
padding: 14px 16px;
text-align: right;

}

/* Change the link color on hover */
li a:hover {
background-color: rgb(0, 255, 0);
color: white;
}  


/* button */
body {
  transition: background-color 0.5s;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.LDB {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #333333; /* Set a color for the button text */
  animation: wave 2s infinite;
  margin-left: 98%;
}



button#theme-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent; /* Set background color to transparent */
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url('https://raw.githubusercontent.com/TheR16H/my-site/main/assets/images/sun.png'); /* Add sun icon image path */
  background-size: cover;
  background-position: center; /* Center the background image */
}

button#theme-toggle.sun {
  background-image: url('https://raw.githubusercontent.com/TheR16H/my-site/main/assets/images/sun.png'); /* Add sun icon image path */
  background-size: cover;
}

button#theme-toggle.moon {
  background-image: url('https://raw.githubusercontent.com/TheR16H/my-site/main/assets/images/moon.png'); /* Add moon icon image path */
  background-size: cover;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

@keyframes wave {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #ffffff;
  }
}

/* button */



@media only screen and (max-width: 1200px) {
  .container {
      flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .left, .right {
      width: 100%; /* Make each element take up the full width on smaller screens */
  }
}


