  h2{
    position: absolute;
    text-decoration: underline;
    top:80%;
    left:65%;
    /* transform: translate(-50%, -50%);   */
    color: white;
    font-weight: bolder;
    font-size: 30px;
  }
  
  h2:hover {
    background-color: purple;
  }
  
  
    .works-wrapper{
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items: center;
  
    }
  
    .work-heading{
        max-width:8rem;
  
    }
  
  .left1{
    border-left:3px solid black;
    padding:5rem;
  
  }
  
  .big-image{
  max-width:80rem;
  min-width:40rem;
  position:relative;
  z-index: 1;
  }
  .left1 .caption{
    position: absolute;
   top:70%;
   /* color: ; */
   background-color: yellow;
   z-index: 2;
   padding:.5rem;
   border-top-right-radius:5px;
   border-bottom-right-radius: 5px;
  }
  
  main article, article{
     display: flex;
    /*flex-wrap: wrap;
    flex-grow: 1; */
    columns: 2;
    widows: 2;
    justify-content: space-between;
    
  
  }
  
  
  .page-section > h1 {
    border-right: 3px solid black;
    padding:5rem;
    text-align: left;
    align-items: stretch
  
  }
  

  .works1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  
  .small-image, .small-image2, .small-image3, .small-image4 {
    position: relative;
    width: 40%; 
    margin-left: 5%;
    height: 20%;
  }
  
  .caption2, .caption3, .caption4, .caption5 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 5px;
  }
  
  .caption2:hover, .caption3:hover, .caption4:hover, .caption5:hover {
    background-color: purple; /* Change background color on hover */
    color: black; 
  }
  
  img{
    width:100%;
  
  }
  
  
  .page-section {    
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
   
    
  }
  
  /* @media screen  and (max-width:900px) {
  .page-section {
    flex-direction: column;
  }
  .work-heading {
    text-align: center;
  }
    
  .left1 {
    border-left:none;
    border-top:3px solid black;
  } */
  
  